@font-face {
    font-family: 'Averta Std CY';
    src: url('AvertaStdCY-LightItalic.eot');
    src: url('AvertaStdCY-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('AvertaStdCY-LightItalic.woff2') format('woff2'),
        url('AvertaStdCY-LightItalic.woff') format('woff'),
        url('AvertaStdCY-LightItalic.ttf') format('truetype'),
        url('AvertaStdCY-LightItalic.svg#AvertaStdCY-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Averta Std CY Extrathin';
    src: url('AvertaStdCY-Extrathin.eot');
    src: url('AvertaStdCY-Extrathin.eot?#iefix') format('embedded-opentype'),
        url('AvertaStdCY-Extrathin.woff2') format('woff2'),
        url('AvertaStdCY-Extrathin.woff') format('woff'),
        url('AvertaStdCY-Extrathin.ttf') format('truetype'),
        url('AvertaStdCY-Extrathin.svg#AvertaStdCY-Extrathin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Averta Std CY';
    src: url('AvertaStdCY-Light.eot');
    src: url('AvertaStdCY-Light.eot?#iefix') format('embedded-opentype'),
        url('AvertaStdCY-Light.woff2') format('woff2'),
        url('AvertaStdCY-Light.woff') format('woff'),
        url('AvertaStdCY-Light.ttf') format('truetype'),
        url('AvertaStdCY-Light.svg#AvertaStdCY-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Averta Std CY';
    src: url('AvertaStdCY-ExtraboldItalic.eot');
    src: url('AvertaStdCY-ExtraboldItalic.eot?#iefix') format('embedded-opentype'),
        url('AvertaStdCY-ExtraboldItalic.woff2') format('woff2'),
        url('AvertaStdCY-ExtraboldItalic.woff') format('woff'),
        url('AvertaStdCY-ExtraboldItalic.ttf') format('truetype'),
        url('AvertaStdCY-ExtraboldItalic.svg#AvertaStdCY-ExtraboldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Averta Std CY';
    src: url('AvertaStdCY-Extrabold.eot');
    src: url('AvertaStdCY-Extrabold.eot?#iefix') format('embedded-opentype'),
        url('AvertaStdCY-Extrabold.woff2') format('woff2'),
        url('AvertaStdCY-Extrabold.woff') format('woff'),
        url('AvertaStdCY-Extrabold.ttf') format('truetype'),
        url('AvertaStdCY-Extrabold.svg#AvertaStdCY-Extrabold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Averta Std CY';
    src: url('AvertaStdCY-Black.eot');
    src: url('AvertaStdCY-Black.eot?#iefix') format('embedded-opentype'),
        url('AvertaStdCY-Black.woff2') format('woff2'),
        url('AvertaStdCY-Black.woff') format('woff'),
        url('AvertaStdCY-Black.ttf') format('truetype'),
        url('AvertaStdCY-Black.svg#AvertaStdCY-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Averta Std CY';
    src: url('AvertaStdCY-SemiboldItalic.eot');
    src: url('AvertaStdCY-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
        url('AvertaStdCY-SemiboldItalic.woff2') format('woff2'),
        url('AvertaStdCY-SemiboldItalic.woff') format('woff'),
        url('AvertaStdCY-SemiboldItalic.ttf') format('truetype'),
        url('AvertaStdCY-SemiboldItalic.svg#AvertaStdCY-SemiboldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Averta Std CY';
    src: url('AvertaStdCY-Bold.eot');
    src: url('AvertaStdCY-Bold.eot?#iefix') format('embedded-opentype'),
        url('AvertaStdCY-Bold.woff2') format('woff2'),
        url('AvertaStdCY-Bold.woff') format('woff'),
        url('AvertaStdCY-Bold.ttf') format('truetype'),
        url('AvertaStdCY-Bold.svg#AvertaStdCY-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Averta Std CY';
    src: url('AvertaStdCY-Regular.eot');
    src: url('AvertaStdCY-Regular.eot?#iefix') format('embedded-opentype'),
        url('AvertaStdCY-Regular.woff2') format('woff2'),
        url('AvertaStdCY-Regular.woff') format('woff'),
        url('AvertaStdCY-Regular.ttf') format('truetype'),
        url('AvertaStdCY-Regular.svg#AvertaStdCY-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Averta Std CY';
    src: url('AvertaStdCY-BlackItalic.eot');
    src: url('AvertaStdCY-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('AvertaStdCY-BlackItalic.woff2') format('woff2'),
        url('AvertaStdCY-BlackItalic.woff') format('woff'),
        url('AvertaStdCY-BlackItalic.ttf') format('truetype'),
        url('AvertaStdCY-BlackItalic.svg#AvertaStdCY-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Averta Std CY Extrathin';
    src: url('AvertaStdCY-ExtrathinItalic.eot');
    src: url('AvertaStdCY-ExtrathinItalic.eot?#iefix') format('embedded-opentype'),
        url('AvertaStdCY-ExtrathinItalic.woff2') format('woff2'),
        url('AvertaStdCY-ExtrathinItalic.woff') format('woff'),
        url('AvertaStdCY-ExtrathinItalic.ttf') format('truetype'),
        url('AvertaStdCY-ExtrathinItalic.svg#AvertaStdCY-ExtrathinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Averta Std CY';
    src: url('AvertaStdCY-Thin.eot');
    src: url('AvertaStdCY-Thin.eot?#iefix') format('embedded-opentype'),
        url('AvertaStdCY-Thin.woff2') format('woff2'),
        url('AvertaStdCY-Thin.woff') format('woff'),
        url('AvertaStdCY-Thin.ttf') format('truetype'),
        url('AvertaStdCY-Thin.svg#AvertaStdCY-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Averta Std CY';
    src: url('AvertaStdCY-Semibold.eot');
    src: url('AvertaStdCY-Semibold.eot?#iefix') format('embedded-opentype'),
        url('AvertaStdCY-Semibold.woff2') format('woff2'),
        url('AvertaStdCY-Semibold.woff') format('woff'),
        url('AvertaStdCY-Semibold.ttf') format('truetype'),
        url('AvertaStdCY-Semibold.svg#AvertaStdCY-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Averta Std CY';
    src: url('AvertaStdCY-ThinItalic.eot');
    src: url('AvertaStdCY-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('AvertaStdCY-ThinItalic.woff2') format('woff2'),
        url('AvertaStdCY-ThinItalic.woff') format('woff'),
        url('AvertaStdCY-ThinItalic.ttf') format('truetype'),
        url('AvertaStdCY-ThinItalic.svg#AvertaStdCY-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Averta Std CY';
    src: url('AvertaStdCY-BoldItalic.eot');
    src: url('AvertaStdCY-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('AvertaStdCY-BoldItalic.woff2') format('woff2'),
        url('AvertaStdCY-BoldItalic.woff') format('woff'),
        url('AvertaStdCY-BoldItalic.ttf') format('truetype'),
        url('AvertaStdCY-BoldItalic.svg#AvertaStdCY-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Averta Std CY';
    src: url('AvertaStdCY-RegularItalic.eot');
    src: url('AvertaStdCY-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('AvertaStdCY-RegularItalic.woff2') format('woff2'),
        url('AvertaStdCY-RegularItalic.woff') format('woff'),
        url('AvertaStdCY-RegularItalic.ttf') format('truetype'),
        url('AvertaStdCY-RegularItalic.svg#AvertaStdCY-RegularItalic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

